*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(249, 6, 6);
    height: 100px;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif    
}
